.text_title{
    font-family: var(--font-name);
  }
  .text_decpt{
    font-family: var(--subtitle-font-name);
  }
  .bg_sub{
    background-color: rgba(154, 236, 255, 0.263) !important;
    border-radius: 10px;
  }
  svg{
    fill: #05668d;
  }
  .btn_color{
    background-color: #05668d;
  }
 
