.about_info{
    background-color: #183d3c;
}
.font_title_about{
    font-size: 50px;
    font-weight: 500;
}
.sub_title
{
    color:#183d3c;
}
.text_title{
    font-family: var(--font-name);
  }
  .text_decpt{
    font-family: var(--subtitle-font-name);
  }
.about_section{
    height: 100vh;
    background: linear-gradient(to right,rgba(2, 10, 11, 0.221), rgba(0, 36, 47, 0.694), rgb(0, 36, 47)),url('../../images/aboutxcv.jpg') center/cover no-repeat !important;
}
.about_title{
    font-size: 80px;
}