.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.login_section{
  /* background: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour.jpg) center/cover no-repeat; */
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/tour.jpg') center/cover no-repeat;
}

.Form{
  background-color: white;
  border-radius: 10px;
  padding: 10%;
}
.bgimg{
  background: linear-gradient(rgba(2, 10, 11, 0.4), rgba(0, 83, 108, 0.4)),url('../../images/login2\ .jpg') center/cover no-repeat;
}
.text_title{
  font-family: var(--font-name);
}
.text_decpt{
  font-family: var(--subtitle-font-name);
}